  <div class="else edit">
    <div class="row">
      <div class="span6">
        <div class="row track">
          <div>
		   <dl>
		     <dt>Album:</dt>
			<dd><input data-bind="value: album" /></dd>
			<dt>Album Art:</dt>
			<dd><input data-bind="value: album_art_url" /></dd>
              <dt>Artist:</dt>
			<dd><input data-bind="value: artist" /></dd>
			<dt>Track:</dt>
			<dd><input data-bind="value: track" /></dd>
			<dt>Track MP3:</dt>
			<dd><input data-bind="value: track_mp3_url" /></dd>
            </dl>
          </div>
        </div>
 	 <div class="row edit-buttons">
	   <a class="k-button k-button-icontext k-update-button" href="\#" data-bind="click: update"><span class="k-icon k-update"></span>Save</a>
        <a class="k-button k-button-icontext k-cancel-button" href="\#" data-bind="click: cancel"><span class="k-icon k-cancel"></span>Cancel</a>
      </div>
    </div>
  </div>
</div>